<div class="container">
<div class="row">
  <div class="col-8 mt-5">
    <div class="col-sm-12">
      <h1>Vincent Pallard</h1>
    </div>
    <div class="col-sm-12">
      <h2 class="col-sm-12">"Phrase/citations"</h2>
    </div>
    <div class="col-sm-12">
      <i class="fab fa-facebook-square fa-lg"></i>
      <i class="fab fa-twitter-square fa-lg"></i>
      <i class="fab fa-instagram fa-lg"></i>
      <i class="fas fa-envelope-square fa-lg"></i>
    </div>
  </div>
  <div class="col-sm-3">
    <img 
      class="col m-4"
      src="https://pbs.twimg.com/profile_images/641758857677676544/lpgPHkbc_400x400.jpg"
    />
  </div>
</div>
</div>
