<div class="container">
  <div class="row">
    <div class="col-8 mt-5 mb-3">
      <div class="col-sm-12">
        <h1>Vincent Pallard</h1>
      </div>
      <div class="col-sm-12 mt-3 ml-5">
        <h2 class="col-sm-12">"Phrase/citations"</h2>
      </div>
      <div class="col-sm-12 social">
          <a class="btn facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="btn twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="btn google" href="#"><i class="fa fa-google"></i></a>
      </div>
    </div>
    <div class="col-sm-3">
      <img class="col m-4 img-fluid" src="assets/img/portrait.jpg" />
    </div>
  </div>
</div>
