<div class="container-fluid">
  <div class="row">
    <div class="card border-secondary m-3 col-sm-4 justify-content-center" style="max-width: 18rem;">
      <div class="card-header">L'auteur</div>
      <div class="card-body text-secondary">
        <h5 class="card-title">Mon parcours</h5>
        <p class="card-text publi">
          Cuius acerbitati uxor grave accesserat incentivum, germanitate Augusti
          turgida supra modum, quam Hannibaliano regi fratris filio antehac
          Constantinus iunxerat pater, Megaera quaedam mortalis, inflammatrix
          saevientis adsidua, humani cruoris avida nihil mitius quam maritus;
          qui paulatim eruditiores facti processu temporis ad nocendum per
          clandestinos versutosque rumigerulos conpertis leviter addere quaedam
          male suetos falsa et placentia sibi discentes, adfectati regni vel
          artium nefandarum calumnias insontibus adfligebant. Sed (saepe enim
          redeo ad Scipionem, cuius omnis sermo erat de amicitia) querebatur,
          quod omnibus in rebus homines diligentiores essent; capras et oves
          quot quisque haberet, dicere posse, amicos quot haberet, non posse
          dicere et in illis quidem parandis adhibere curam, in amicis eligendis
          neglegentis esse nec habere quasi signa quaedam et notas, quibus eos
          qui ad amicitias essent idonei, iudicarent. Sunt igitur firmi et
          stabiles et constantes eligendi; cuius generis est magna penuria.
        </p>
      </div>
    </div>
    <div class="col-sm-8 d-flex">
      <div class="row justify-content-center">
        <app-carrousel class="col-sm-12 m-3"></app-carrousel>
        <h2 class="col-sm-12">Dernières publications</h2>

        <div class="card w-100 m-4">
          <div class="card-body">
            <h5 class="card-title">Publication 1</h5>
            <p class="card-text publi">Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad
              usque
              supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam
              plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio
              iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.
              Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris incertus agitare
              quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de industria milites agentes in
              civitatibus perviis.
            </p>
          </div>
        </div>
        <div class="card w-100 m-4">
          <div class="card-body">
            <h5 class="card-title">Publication 2</h5>
            <p class="card-text publi">Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad
              usque
              supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam
              plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio
              iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.
              Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris incertus agitare
              quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de industria milites agentes in
              civitatibus perviis.
            </p>
          </div>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BfLxwLUhSsk" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
